@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}
.blue-container {
  color: #cac9ff;
  border-radius: 0px 0px 32px 32px;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.4rem 0 4rem;
}
.header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
.circle {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(63, 33, 201, 0.64) 35.88%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  padding: 2.5rem 3.8rem 2.2rem;
  text-align: center;
  border-radius: 10rem;
  margin: 1.4rem;
}
#grade {
  color: white;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 7.2rem;
}
#total {
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.52;
}
.great {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
}
.performance {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #303b59;
}
.title {
  font-weight: 500;
}
.one {
  color: #ff5555;
}
.totalCount {
  opacity: 0.5;
}
.category {
  display: flex;
  border-radius: 1.2rem;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55;
  padding: 1.8rem 1.6rem;
}
